<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}" async></script>

    <title>
        {% if title %}
            AUSC - {{ title }}
        {% else %}
            AUSC
        {% endif %}
    </title>
</head>
<body>
    <div class="page-container">
        <header>
            <h1 class="title-text">Auckland University Squash Club</h1>
        </header>
        <nav id="myTopnav" class="topnav">
            <a href="javascript:void(0);" class="icon" onclick="toggleResponsiveNavBar()">
                <i class="fa fa-bars"></i>
            </a>
            <a {% if title=="Home" %}class="active"{% endif %} href="{{ url_for('home') }}">Home</a>
            <a {% if title=="About" %}class="active"{% endif %} href="{{ url_for('about') }}">About</a>
            <a {% if title=="Memberships" %}class="active"{% endif %} href="{{ url_for('membership') }}">Membership</a>
            <a {% if title=="Contact Us" %}class="active"{% endif %} href="{{ url_for('contact') }}">Contact Us</a>
        </nav>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            Website designed by Daniel Schimanski
        </footer>
    </div>
</body>
</html>