<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        {% if name %}
            AUSC - {{ name }}
        {% else %}
            AUSC
        {% endif %}
    </title>
</head>
<body>
    <header>
        <div class="container-fluid text-center title-text">
            <h1>Auckland University Squash Club</h1>
        </div>
    </header>
    <nav class="nav bg-primary sticky-top">
        <a class="navbar-brand ml-3 text-white" href="#">AUSC</a>
        <a class="nav-link text-white" href="#">Home</a>
        <a class="nav-link text-white" href="#">About</a>
        <a class="nav-link text-white" href="#">Membership</a>
        <a class="nav-link text-white" href="#" style="margin-left: auto">Contact Us</a>
    </nav>
    <main role="main" class="container">
        {% block content %}{% endblock content %}

        <p>
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
        </p>
        <p>
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
        </p>
        <p>
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
        </p>
        <p>
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
        </p>
        <p>
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
        </p>
        <p>
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
        </p>
        <p>
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
        </p>
        <p>
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
        </p>
        <p>
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
        </p>
        <p>
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
        </p>
        <p>
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
            This is content. This is content. This is content. This is content. This is content. This is content.
        </p>
        <p>
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
            More content. More content. More content. More content. More content. More content. More content. More content.
        </p>
    </main>



    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>